In [11]:
import pandas as pd
profile_path = r'D:\issp_data\zok_ssp_2017.csv'
df = pd.read_csv(profile_path, encoding='shift-jis')
print(df.head(3))

       モニターID  モニターID(11桁)                                暗号化ID(40桁)  \
0  9400000011  50000203856  a9ef450bce7f35355568d8f9204972e1fb248e11
1  9400000013  50000300858  e01dfc80b4df946eeab03b0868841679da8f5902
2  9400000032  50000448787  d82e5649df15beda26bfb824eca6a29457d9da47

   居住都道府県(参考) 居住都道府県(参考)_名称  居住エリア 居住エリア_名称  年齢(5才刻み) 年齢(5才刻み)_名称  年齢(10才刻み)  \
0          45           宮　崎     10       九州         6      40〜44才          4
1          22           静　岡      6       東海        10        60才〜          6
2          14           神奈川      4       京浜         6      40〜44才          4

   ... 家族人員(65才以上)  家族人員(65才以上)_名称 自動車(自家用車保有)有無  自動車(自家用車保有)有無_名称  \
0  ...           2              無し             2                無し
1  ...           1              有り             1                有り
2  ...           2              無し             1                有り

  同居子供人数（17才以下）  同居子供人数（17才以下）_名称 同居子供人数（14才以下）  同居子供人数（14才以下）_名称 ウエイトセル  \
0             1       子供なし(17才以下)             1       子供なし(14才以下)    168
1             1       子供なし(17才以下)             1       子供なし(14才以下)    108
2             2                1人             2                1人     70

      ウエイトセル_名称
0  九州_男性40-49未婚
1    東海_女性60-69
2  京浜_女性40-49既婚

[3 rows x 79 columns]

In [12]:
usecols = [r'性別', r'年齢(5才刻み)_名称']
df = pd.read_csv(profile_path, encoding='shift-jis', usecols=usecols)
print(df.head(3))

  年齢(5才刻み)_名称  性別
0      40〜44才   1
1        60才〜   2
2      40〜44才   2

In [9]:
df.groupby([r'性別', r'年齢(5才刻み)_名称']).count()
# 其中1==男性, 2==女性

                年齢(5才刻み)
性別 年齢(5才刻み)_名称
1  20〜24才           1374
   25〜29才           1471
   30〜34才           1423
   35〜39才           1762
   40〜44才           1989
   45〜49才           1797
   50〜54才           1722
   55〜59才           1484
   60才〜             2275
   〜19才              571
2  20〜24才           2064
   25〜29才           2577
   30〜34才           2176
   35〜39才           1908
   40〜44才           2037
   45〜49才           2010
   50〜54才           1688
   55〜59才           1278
   60才〜             1382
   〜19才              944